.user-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px; /* Menambahkan ruang atas */
  }
  
  .user-detail-title {
    margin-bottom: 20px; /* Memberikan jarak antara judul dan konten */
  }
  
  .user-detail-content {
    width: 100%;
    max-width: 400px;
  }
  
  .user-detail-card {
    width: 100%;
  }
  
  .user-detail-back {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px; /* Menambahkan jarak atas */
  }
  